.card-header{
  width:100%;
  margin:0;
  padding: 10px;
}
.card-footer{
  width:100%;
  margin:0;
  padding: 10px;
}
.cartimg{
  height: 50px;
  width: 60px;
  margin-left: -20px;
}
.card-body{
  width: 100%;
}
