<div class="mytext">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid">
    <div class="row header-top">
      <div class="col-md-12" style="height: 60px;">
  <div class="row">
    <div class="col-2" style="color:white;font-size: 13px;padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Discover Latest Courses in Angular
    </div>
    <div class="col">
      <img class="overlayimage position-absolute top-0 end-0" src="./assets/Angular.png" alt="">
    </div>
  </div>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>



</div>


