@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


.header-top{
  background: #000;
  padding: 0px;
  margin-top: 10px;
}
.container-fluid{
  width:95%;

}

.overlayimage{
  height: 55px;
  width: 120px;
}
.mytext{
  font-family: 'Ubuntu', sans-serif;
}
