@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.row{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.input {
  transition: box-shadow 0.3s, border-color 0.3s;
}

.input:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
}

.profilepic{
  height: 180px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
.container{
  overflow: scroll;
}
