<div class="container-fluid">
<div class="row">
  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-12 " style="height: 50px;">
        <div class="row">
          <div class="col p-2 m-2">
            All Courses
          </div>
          <div class="col-6  p-2 m-6">
            <div class="btn-group">
              <select class="form-control" #t (change)="sortcartasc(t.value)">
                <option >Course Price <i class="fas fa-sort"></i></option>
                <option value='asc'>Low to High</option>
                <option value='desc'>High to Low</option>
              </select>
            </div>
          </div>
          <div class="col p-2">
            <div class="row">
              <div class="col-8">
                <input type="text" class="form-control" placeholder="Search..."
                (keyup)="filtercourses($event)" (keydown)="getData()"
                >
              </div>
              <div class="col-2 p-0">
                <button class="btn btn-warning"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-9" >
        <div class="row cartgrid p-2 border" style="height:500px;" *ngIf="data.length>0" >
        <div class="card m-2"
        *ngFor="let d of data | paginate: { itemsPerPage: 4, currentPage: p }"
        >

          <div class="card-body p-1" >
            <div class="row">
              <div class="col-md-2" [routerLink]="['/Coursedetail',d.id]">
                <img class="card-image" src="./assets/Np.jpg" alt="">
              </div>
              <div class="col-md-4 p-0" [routerLink]="['/Coursedetail',d.id]">
                <div class="row">
                  <div class="col-12">
                    {{ d.title }}
                  </div>
                  <div class="col-9">
                      <span class="badge badge-pill badge-warning"
                      style="background-color: #FA4607;color: white;margin-right: 2px;border-radius: 5px;"
                      *ngFor="let badge of d.tags"
                      >{{badge}}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-2 p-3 m-2 md2-width"[routerLink]="['/Coursedetail',d.id]" style="color: gray;" >
                {{ d.author }}
              </div>
              <div class="col-md-2 p-3 md2-width"[routerLink]="['/Coursedetail',d.id]" *ngIf="d.discounted_price===null">
                <i class="far fa-star"></i>&nbsp; Rs {{d.actual_price}}/-

              </div>
              <div class="col-md-2 p-3 md2-width"[routerLink]="['/Coursedetail',d.id]" *ngIf="d.discounted_price!==null">
                <i class="far fa-star"></i>&nbsp; Rs {{d.discounted_price}}/-

              </div>
              <div class="col-md-1 p-3"[routerLink]="['/Coursedetail',d.id]">
                <span style="text-decoration: line-through;">
                  {{d.actual_price}}</span>
              </div>
              <div class="col-md-1 p-3">
                <button class="button" style="vertical-align:middle;"
                (click)="addToCart(d)"
                ><span>ADD TO CART</span></button>
             </div>
            </div>
          </div>
        </div>
        <pagination-controls class="pagination" (pageChange)="p = $event" ></pagination-controls>
      </div>

      <div class="col-md-9 border p-4" style="height:200px;width: 800px;" *ngIf="data.length<=0">
        <div class="d-flex justify-content-center">

            No Items to Display !!!!

        </div>
      </div>
      </div>

      <div class="col-md-3" style="height: 440px;">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>



<div class="modal" id="cartmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">HU E-Learning HUB</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="closeModal(cartModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <p><i class="far fa-check-circle" style="color: green;"></i>
           Course Has Been Added To The Cart!!!</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<div class="modal" id="alreadypresent" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">HU E-Learning HUB</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="closeModal(cartModalExists)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <p><i class="far fa-exclamation-circle" style="color: red;"></i>
           Item Already Exists In Your Cart!!!</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
